/** CSS Style Sheet Link
https://www.getpapercss.com/docs/
implemented elements on index.html, but ref paper css 
keywords for client App.css and index.css*/

h2 {
  margin-bottom: 50px;
  color: white;
  text-shadow: 2px 2px 4px teal;
}

/* wrapper for App */
.App {
  text-align: center;
  justify-content: center;
  padding: 40px 40px;
}

/* listed items */
p {
  text-align: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
  font-size: 18px;
  text-shadow: 2px 2px 4px black;
}

/* Applies to delete button for listed items*/
#delete {
  /*spacing between listed item and delete btn*/
  margin-left: 40px;
}

#complete {
  width: 15%;
}

.list-btns {
  margin-top: 15px;
}

/*Applies to all buttons*/
button {
  /* makes sure button doesn't shift */
  position: relative;
  /*size of font*/
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  /* curves button shape */
  border-radius: 15px;
  margin: 10px 10px;
  width: 13%;
  background-color: teal;
  color: white;
  padding: 0px;
  border-color: white;
}
