/** CSS Style Sheet Link
https://www.getpapercss.com/docs/
implemented elements on index.html, but ref paper css 
keywords for client App.css and index.css*/

/* wrapper for App */
.App {
  text-align: center;
  justify-content: center;
  padding: 40px 40px;
}

/* listed items */
li {
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 20px 20px;
}

/* Applies to delete button for listed items*/
#delete {
  /*shrinks button width  */
  width: 20%;
  display: inline-block;
  /* curves button shape */
  border-radius: 15px;
  /*spacing between listed item and delete btn*/
  margin-left: 40px;
}

/*Applies to all buttons*/
button {
  /* makes sure button doesn't shift */
  position: relative;
  /*size of font*/
  font-size: 110%;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  /* curves button shape */
  border-radius: 15px;
  margin: 10px 10px;
}
